/* .container{
    max-width: 140rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

} */

/* form{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .registration-form, .login-form{ */
/* width: 50%; */
/* font-size: larger;
color: white;
} */

/* .registration-form input, .login-form input{
    background-color: rgb(189, 185, 185);
    padding: 10px;
    width: 300px;
    border: none;
    margin: 5px;
 
} */

/* .btn-submit{
    padding: 10px;
    background-color: grey;
    border: none;
    max-width: 130px;
    font-weight: 500;
    font-size: large;
    
} */
